/node_modules
/loginProj/node_modules
/loginProj2/node_modules
/chatbot/node_modules
/billManager/node_modules
/billManagerAng/node_modules
/onlineBot/node_modules
/mockTrello/node_modules
/creditcardsimulation_redux_hooks/node_modules
/creditcardsimulation_redux_hooks/server/node_modules
/onlineBot/flask-env

