.box{
	width: 200px;
	height: 20px;
	color: #f93636;
	margin: 0 0 10px 0;
	text-align: center;


}
.cont{
	
	margin-left: 30%;
	background-color: grey;
	width: 201px;
	padding: 36px;
}
#butt
{
	
	background-color: skyblue;
	color: white;
	padding: 5px;
	text-align: center;
	width: 200px;
	/* align-items: flex-start; */

	/* align-content: center; */

}