
button:focus {outline:0;}
.butt-n
{
	
	background: skyblue;
	padding: 18px;
	float: left;
	border-radius: 30px;
	font-family: sans-serif;
	font-size: 14pt;
	font-weight: bold;
	color: white;
	border-color: white;
	letter-spacing: 3px;
	transition: .6s all;
}
.butt-n:hover,.butt-r:hover
{
	
	background: black;
	
	border-radius: 0px;
	
	color: white;
	letter-spacing: 0px;
	transition: .6s all;
}
.butt-r
{
	
	background: rgba(255, 0, 0, 0.64);
	padding: 18px;
	float: right;
	border-radius: 30px;
	font-family: sans-serif;
	font-size: 14pt;
	font-weight: bold;
	color: white;
	border-color: white;
	letter-spacing: 3px;
	transition: .6s all;
}
.cont{
	text-align: center;
	background-color: grey;
	width: 279px;
	height: 125px;
	display: inline-block;
	margin: 0 0 0 35px;
	border-radius: 25px
	

}