.x_axis text,.y_axis text {
	font-size: 13pt;
	fill: grey;
}	
h1{
	font: 30px sans-serif;
	text-align: center;
	color: grey;
}
a{
	text-decoration: none;
	color: grey;
	font-size: 20pt;
	background-color: lightblue;
	border-radius: 4px;
	padding: 4px;
}
div{
	float: right;
}