@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* google font including*/
html 
{ 
  background: url(../img/main.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;			/* setting background*/	
  background-size: cover;
}
body,h1,p{
   font-family: 'Open Sans',serif;			/*setting the font*/
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
{
    display: block;						/* allocating entire section*/
}
.head
{
	background:#3399ff;
	color: white;
	padding: .2%;
	position: fixed;
	width: 100%;
	z-index:100000;
}
.head img 								/* header css styling*/
{
	max-width: 3%;
  	max-height: 3%;
}
.head h1
{
	margin-left:1%;
	display: inline;
}
.top
{
	letter-spacing: 2px;

}
.navigate
{
	float: right;	
	position: relative;
	font-size: 12pt;									/* navigation bar styling*/
}
.navigate a
{
	text-decoration: none;
	color: white;
	padding: 20px;
	transition: .5s all;
}
.navigate a:hover
{
	color: #3399ff;
	background: white;
	border-radius: 5px;
	transition: .5s all;
}
.navigate ul
{
	list-style-type:none;
    margin:0;
    padding:10px;
    overflow:hidden;
}
.navigate li
{
	float: left;
	font-family: sans-serif;
}
.navigate li:last-child
{
	margin-right: 0%;
	padding: 0;
}

.wrapper
{
	background: #e6e6e6;
	color:#8c8c8c;
	position: relative;										/* main section styling*/
	top:9px;
}
.wrapper h3,h1
{
text-align: center;
}
.wrapper h1,p
{
	text-shadow: 1px 0px 1px #3399ff;
}
.hero
{
	
	filter: brightness(50%);
	transition:.3s all;									/* hero section*/
}
.hero:hover
{
	transition:.3s all;
	filter: brightness(90%);
}
.float_img
{
	min-height:50%;
	min-width: 50%;
	height:100%;
	width: 100%;
	transition:.3s all ease-in-out;
}
.float_img:hover
{
	transform: scale(2);
	z-index:10000;
	transition:.3s all ease-in-out;
	height:90%;
	width: 90%;	
	box-shadow: 0px 0px 25px #3399ff,0px 0px 50px white,0px 0px 75px black;
}
.section2 h1
{
	margin-top: 120%;
	margin-bottom: 6%;
}
.section3
{
	margin-top: 30%;
}

.section3 img
{														/*other section styling*/
 	width:100%;
 	height: 100%;
}
.section4
{
	position: relative;
	background: #3399ff;
	color: white;
	padding: 2% 0;
} 
.section4 img
{
	min-height:50%;
	min-width: 50%;
	height:100%;
	width: 100%;
}

.foot 
{
	background: black;
	color: white;
	text-shadow: none;
	margin: 0;
}
.foot a 															/*footer section styling*/
{
	clear: both;
	margin-left: 20%;
	color: white;
	font-size: 30pt;
	margin-right: -18px;
	transition: .5s all
}
.foot a:hover
{
	color: #3399ff;
	background: white;
	padding: 0 2%;
	border-radius: 5px;
	transition: .5s all
}
.foot h1,.foot p
{
	text-shadow: none;
	text-align: left;
}