@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* google font including*/
html { 
  background: url(../img/main.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;			/*setting background image*/
  -o-background-size: cover;
  background-size: cover;
}
body,h1,p{
   font-family: 'Open Sans',serif;		/*setting google font*/
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;							/* allocationg entire section*/
}
.head
{
	background:#3399ff;
	color: white;
	padding: .2%;
	position: fixed;					/*header css styling*/
	width: 100%;
	z-index:100000;
}
.head img
{
	max-width: 3%;
  max-height: 3%;
}
.head h1
{
	margin-left:1%;
	display: inline;
}
.top
{
	letter-spacing: 2px;
}

.navigate
{
	float: right;	
	position: relative;
	font-size: 12pt
}
.navigate a
{
	text-decoration: none;
	color: white;
	padding: 20px;
	transition: .5s all;
}
												/* navigation bar styling*/
.navigate a:hover
{
	color: #3399ff;
	background: white;
	border-radius: 5px;
	transition: .5s all;
}
.navigate ul
{
	list-style-type:none;
    margin:0;
    padding:10px;
    overflow:hidden;
}
.navigate li
{
	float: left;
	font-family: sans-serif;
}
.navigate li:last-child
{
	margin-right: 0%;
	padding: 0;
}

.wrapper
{
	background: #e6e6e6;
	color:#8c8c8c;
	position: relative;
	top:9px;									/* main section styling*/

}
.wrapper h3,h1
{
	text-align: center;
	margin-bottom: 6%
}
.wrapper h1,p
{
	text-shadow: 1px 0px 1px #3399ff;
}
.hero
{
	min-height:50%;
	min-width: 50%;
	position: relative;
	height:100%;								/*main gallery photo section styling*/
	width: 100%;
	filter: brightness(50%);
	transition:.5s all;
}
.hero:hover
{
	transform: scale(1.25);
	z-index:9999;
	transition:1s all;
	filter: brightness(100%);
}

.float_img_gall
{
	min-height:50%;
	min-width: 50%;
	height:100%;
	width: 100%;
	transition:.3s all ease-in-out;
}
.float_img_gall:hover
{
	transform: scale(.75);
	z-index:10000;
	transition:.3s all ease-in-out;
	height:90%;
	width: 90%;	
	box-shadow: 0px 0px 50px black,	0px 0px 100px white;
}
.section2 h1
{
	
	margin: 6%;
}
.section3
{
	margin-top: 4%;
}
												/* other sections styling*/
.section3 img
{
 width:90%;
 height:90%;
 display: inline;
 margin-bottom: 2%;
 margin-left: 5%
}

.foot 
{
	background: black;									/*footer section styling*/
	color: white;
	text-shadow: none;
	margin: 0;

}
.foot a
{
	clear: both;
	margin-left: 20%;
	color: white;
	font-size: 30pt;
	margin-right: -18px;
	transition: .5s all
}
.foot a:hover
{
	color: #3399ff;
	background: white;
	padding: 0 2%;
	border-radius: 5px;
	transition: .5s all
}
.foot h1,.foot p
{
	text-shadow: none;
	text-align: left;
}

