/*
My Custom CSS
=============
Author: laljose
*/

/* --------------------------------------
   Layout
   -------------------------------------- */
   #now
   {
   	letter-spacing:3px;
   }
   #up
   {
   	letter-spacing:2px;
   }
   #now img
   {
   	width: 60%;
   	filter: brightness(50%);
   	transition: .6s all;
   }
   .container{
   	padding: 20px;
   	text-align: center;
   }
   #now img:hover
   {
   	transition: .6s all;
   	filter: brightness(100%);

   }
   .dropdown-menu
   {
   	background-color: black;
   }
   #movies{
   	
   	text-align: center;
   	letter-spacing: 3px;

   }
   #movies ol li:hover{
   	font-style: italic;
   }
   #movies ul li{
   	color: black;
   }
   #fluid
   {
   	min-height: 55%;
   }
/* --------------------------------------
   Navbar
   -------------------------------------- */
   .navbar{
   	padding-top: 10px;
   	background-color: black;
   	
   }  
   .navbar ul,col-sm-3 ul{
   	list-style-type: none;
   }
   .navbar-nav li a
   {
   	color: white;
   }
   .navbar-nav li a:hover
   {
   	color: #d8d8d8;
   }



/* --------------------------------------
   Global Styles
   -------------------------------------- */
   .row{
   	padding:10px;
   }
   #listheading img{
   	width: 50%;
   	transition: .6s all;
   }
   #listheading img:hover{
   	width: 55%;
   	letter-spacing: 0px;
   	transition: .6s all;
   }
   #listheading{
   	
   	transition: .6s linear all;
   }
   #listheading:hover{
   	letter-spacing: 2px;
   	font-size: 28px;
   	transition: .6s linear all;
   }
   #find {   	
   	top: 33%;
   	background-color: rgba(226, 237, 255,0.7);
   	padding: 0 52px;
   	border-radius: 143px;
   }
/*.................................................
		Footer
		..................................................*/
		#subs input
		{
			border-radius: 20px;
			padding: 40px;
		}
		.col-sm-3 img{
			padding-bottom: 3px;
			padding-left: 16px;
		}
		footer {
			background: #333;
			color: #eee;
			font-size: 14px;
			padding: 50px;
			margin: 0px;
		}

		footer:hover{
			background-color: black;
		}

		#searchInput {

			width: 200px;

		}
		.pagination
		{
			visibility: hidden;
		}
/*..............................................
style from w3 css
................................................*/
h1,h2,h3,h4,h5{font-family: "Lato", sans-serif;
color: black;
}
h6{font-family: "Lato", sans-serif;}
body, html {
	height: 100%;
	color: white;
	line-height: 1.8;

}

/* Create a Parallax Effect */
.bgimg-1{
	opacity: 0.8;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1{
	background-image: url("../../media/images/film-banner.jpg");
	min-height: 100%;
}
.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}
/* --------------------------------------
   Media Queries
   -------------------------------------- */
   /* Turn off parallax scrolling for tablets and phones */

   @media only screen and (max-width: 1024px) {
   	.bgimg-1{
   		background-attachment: scroll;
   	}
   }

